<!DOCTYPE html>
<html>
<head>
<title>LadleVision</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/auth.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!-- main -->
    <section class="header">
        <div class="logo">
            <!-- <i class="ri-menu-line icon icon-0 menu"></i> -->
            <h2>Ladle<span>Vision</span></h2>
        </div> 
    </section>
	<div class="main-w3layouts wrapper">
		<% if(message) {%>
			<div class="message"><%=message%></div>
		<% } %>
		<div class="main-agileinfo">
            <h1>Login</h1>
			<div class="agileits-top">
				<form action="/auth/login" method="post">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<input type="submit" value="LOGIN">
				</form>
				<p>Don't have an Account? <a href="/register"> Create Account!</a></p>
			</div>
		</div>
	</div>
	<!-- //main -->
</body>
</html>