<!DOCTYPE html>
<html>
<head>
<title>LadleVision</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/css/auth.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
<!-- //web font -->
<link href="/css/homeParkEace.css" rel="stylesheet" type="text/css" media="all" />

<style>
	.main-nav {
	  justify-content: space-between;
	  margin-top: 1rem;
	  margin-right: 3rem;
	}
	.banner-text {
	  color: #ffffff;
	  padding: 0.9rem 0.8rem;
	  margin-left: 2.4rem;
	}
	.small-bold-text {
	  font-size: 1rem;
	  font-weight: bold;
	}
	.naVV {
	  background-color: rgb(223, 255, 217);
	  border-radius: 20px;
	  margin-left: 2rem;
	  margin-right: 2rem;
	  margin-top: 2rem;
	}
	.nav-links ul {
	  justify-content: end;
	  gap: 5%;
	}
	.header-section {
	  justify-content: center;
	  gap: 15%;
	  margin-top: 2rem;
	}
	.header-left {
	  max-width: 40vw;
	  margin-left: 4rem;
	  /* margin-top: 4rem; */
	}
	p {
	  text-align: justify;
	}
	.main-agileinfo {
	  width: 35%;
	  margin: 3em auto;
	  background: 539e43;
	  background-size: cover;
	  border-radius: 1rem;
	  /* height: 103%; */
	}
  </style>
</head>
<body>
		<!-- main -->
    <!-- Top Banner Section 
    <section class="top-banner">
		<div class="container">
		  <div class="small-bold-text banner-text text-center">
			📣 Revolutionizing Ladle Tracking: Precision through Image Vision Processing and Real-Time Analytics for Optimal Management and Predictive Maintenance!
		  </div>
		</div>
	  </section> -->
  
	  <!-- Navbar  -->
	  <!-- Navbar  -->
	  <nav class="naVV">
		<div class="container main-nav flex">
		  <a href="/" class="company-logo">
			<img src="/images/Ladle_Vision_Logo.png" alt="Company Logo" />
		  </a>
		  <div class="nav-links">
			<!-- ShortCut ul>li*6>a  -->
			<ul class="flex" style="font-weight: bold; font-size: 1rem">
			  <li>
				<a
				  href="https://drive.google.com/drive/folders/1eG6Exs1_7QNGTNPhhiz4qNpGN3pE4DSQ?usp=sharing"
				  class="hover-links"
				  >Technical Data</a
				>
			  </li>
  
			  <li>
				<a
				  href="/login"
				  class="hover-links secondaryBtn"
				  style="width: 6rem; padding: 0.5rem; text-align: center"
				  >Log In</a
				>
			  </li>
			  <li>
				<a
				  href="/register"
				  class="hover-links primaryBtn"
				  tyle="width: 6rem;
					padding: 0.5rem;
					text-align: center;"
				  >Sign Up</a
				>
			  </li>
			</ul>
		  </div>
		</div>
	  </nav>
	<div class="main-w3layouts wrapper">
		<% if(message) {%>
			<div class="message"><%=message%></div>
		<% } %>
		<div class="main-agileinfo">
            <h1>Register</h1>
			<div class="agileits-top">
				<form action="/auth/register" method="post">
					<input class="text" type="text" name="name" placeholder="Username" required="">
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<!-- <input class="text w3lpass" type="password" name="password" placeholder="Confirm Password" required=""> -->
					<input type="submit" value="SIGNUP">
				</form>
				<p>Already have an Account? <a href="/login"> Login Now!</a></p>
			</div>
		</div>
	</div>
	<!-- //main -->
</body>
</html>