<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        #register-form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
            text-align: center;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        #submit-btn {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #toast-message {
            /* display: none; */
            background-color: #4caf50;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1;
        }
    </style>
</head>
<body>

<div id="toast-message">Registration successful!</div>

<div id="register-form">
    <h2>Register</h2>
    <form id="registration-form" method="post" action="/auth/register">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button  type="submit" id="submit-btn">Submit</button>
    </form>
</div>
</body>
</html>
